<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Estate_agancy_cpEntities" connectionString="metadata=res://*/estate_agancy.csdl|res://*/estate_agancy.ssdl|res://*/estate_agancy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VHN0JJJ\SQLEXPRESS;initial catalog=Estate_agancy_cp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Estate_agancyEntities" connectionString="metadata=res://*/estate_agency.csdl|res://*/estate_agency.ssdl|res://*/estate_agency.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VHN0JJJ\SQLEXPRESS;initial catalog=Estate_agancy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Estate_agancyEntities1" connectionString="metadata=res://*/estate_agancy.csdl|res://*/estate_agancy.ssdl|res://*/estate_agancy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VHN0JJJ\SQLEXPRESS;initial catalog=Estate_agancy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>